.header-logo-search {
  background-color: darkslategray;
  height: 280px;
}
.boc-cuc-job {
  display: flex;
  justify-content: center;
}
.job-area {
  position: absolute;
  top: 220px;
}
.jobcard-logo {
  width: 100px;
  padding: 30px;
}
.job-content {
  background-color: rgb(141, 158, 141);
  border: 1px solid rgb(95, 122, 116);
  padding: 10px;
  transition-duration: 500ms;
}
.job-content:hover {
  background-color: white;
  transition-duration: 550ms;
}
.nav-input-search {
  width: 500px !important;
}
.search-bar{
  display:flex;
  justify-content: center;
}
.job-detail-form{
  background-color: rgb(136, 165, 136);
  padding: 20px
}
.job-detail-apply-button{
  width:100%;
  background-color:rgb(69, 100, 76);
  border-radius:2%;
}
.job-detail-apply-button:hover{
  background-color:grey;
}
.job-detail-header{
  background-color:black;
  margin-bottom: 70px;

}
img{
  width:120px;
  padding: 15px;
}